#git ignore file for CT4101 Assessment Repo

# Ignore VS2019 generated folder
.vs/

# ignore user preferences VS file
*.vcxproj.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 2015 cache/options directory
**/.vs/

#ignore build and intermediate directories
**/obj/
**/bin/
**/lib/
**/libs/
/004_Static_Library/include/Matrix4.h
/004_Static_Library/source/Matrix4.cpp
/015_RayTracer_Global_Illumination
/015_RayTracer_Shadows
/016_RayTracer_Materials
/014_RayTracer_Creating_a_Scene
